.navbar{
    background-color: #e3f2fd;
}
.navbar-brand img{
    width: 50px;
}

/* Top-Banner */
.breadcrumb{
    background-color: #e9ecef;
}
.breadcrumb-item{
    padding: 15px 0;
    padding-left: 15px;
}
.breadcrumb-item a{
    text-decoration: none;
}

/* Banner */
.carousel-item img{
    width: 100%;
    height: 500px;
}
/* Alerts */
